* {
    box-sizing: border-box;
    color: #131c26
}
body {
    background-color: #3e5641c5;
}
section {
    border: #5c2e5c solid 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
.header-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.hero-image {
    border-radius: 10px;
    border-color: #5c2e5c;
    border-width: 10px;
    border-style: solid;
}
.header-title{
    position: absolute;
    top: 18px;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #742c36;
    padding: 9px;
    border-radius: 10px;
    text-shadow: 0px 0px 9px #ffffff;
}
.logo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 130px;
    border: #742c36 solid 5px;
    border-radius: 5px;
}
.hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
}
 .hamburger-menu input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
}
.hamburger-menu ul {
    display: none;
}
.hamburger-menu ul li {
    list-style-type: none;
    padding: 5px;
    border: #ffffff solid 1px;
}
.nav-mobile a {
    text-decoration: none;
    color: #ffffff;
    background-color: #742c36;
    margin: 0px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}
.nav-mobile a:hover {
    background-color: #3e5641;
    border: #fff8 solid 1px;
    border-radius: 5px;
}
.nav-mobile a[href = "#" ] {
    background-color: #3e5641;
    border: #fff8 solid 1px;
    border-radius: 5px;
}
.nav-mobile {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
}
#check:checked ~ .nav-mobile {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #742c36;
    padding: 5px;
    border-radius: 5px;
}
.h-menue {
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: #ffffff;
    border: #742c36 solid 5px;
    border-radius: 5px;
    width: 30px;
}
.menu {
    position: absolute;
    bottom: 16px;
    right: 50%;
    transform: translate(50%, -50%);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #742c36;
    padding: 10px;
    border-radius: 5px;
}
.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 5px;
}
.menu li a:hover, a[href="#"] {
    background-color: #3e5641;
    border-radius: 5px;
    border: #fff8 solid 1px;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
h2 {
    text-align: center;
    text-shadow: 0px 0px 9px #ffffff;
    background-color: #2e2e4e60;
    border-radius: 8px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.welcome-section {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    margin-left: 10px;
}
.read-more {
    display: none;
}
.welcome-section img {
    height: inherit;
}
.welcome-section p {
    background-color: #2e2e4e60;
    padding: 20px;
    margin: 0px;
}
.display p div {
    display: inline;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.welcome-text button {
    background-color: #5c2e5c;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 40px;
    font-size: larger;
    cursor: pointer;
}
.welcome-text button:hover {
    background-color: #3e5641;
    border: #fff8 solid 1px;
}
.welcome-text button a {
    text-decoration: none;
    color: #ffffff;
}
.search-cart-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    border: none;
    background-color: #2e2e4e00;
}
.search-cart-section form input {
    height: 50px;
    width: 300px;
}
.search-cart-section form input[type="submit"] {
    padding: 10px;
    border: #5c2e5c solid 1px;
    width: 100px;
}
.search-cart-section form input[type="submit"]:hover {
    background-color: #3e5641;
    border: #fff8 solid 1px;
    color: #ffffff;
}
.search-cart-section img {
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.search-cart-section div:hover {
    border: 3px solid #5c2e5c;
    border-radius: 5px;
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.book-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    gap: 20px;
    width: 1500px;
}
.book-grid div {
    gap: 10px;
    width: 300px;
    position: relative;
    text-align: center;
    border: #5c2e5c solid 1px;
}
.book-grid input[type="checkbox"] {
    position: absolute;
    top: 5px;
    left: 5px;
    border: #000000 solid 1px;
    width: 20px;
    height: 20px;
}
.book-grid img {
    width: 300px;
}
.book-grid input[type="submit"] {
    background-color: #5c2e5c;
    color: #ffffff; 
    font-size: larger;
    border: none;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}
.books-section{
    width: 1000px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.books {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.add-to-cart {
    position: sticky;
    bottom: 0;
}
.w-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.w-book img {
    height: 300px;
}
.w-book a {
    background-color: #5c2e5c;
    color: #ffffff;
    border: #000000 solid 1px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    text-decoration: none;
}
.w-book a:hover {
    background-color: #3e5641;
    width: 101px;
    height: 31px;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1000px;
}
.about-section p {
    background-color: #2e2e4e60;
    padding: 10px;
}
.hours-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border: #5c2e5c solid 10px;
    border-radius: 10px;
    width: 1000px;
    font-size: larger;
}
.hours-section table {
    width: 100%;
    border-collapse: collapse;
}
.hours-section th, .hours-section td {
    text-align: center;
    border-bottom: #5c2e5c solid 10px;
    border-left: #5c2e5c solid 10px;
    background-color: #2e2e4e60;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border: #5c2e5c solid 10px;
    border-radius: 10px;
    width: auto;
}
.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2e2e4e60;
    padding: 30px;
    border-radius: 8px;
    box-sizing: border-box;
}
.contact-section label {
    font-size: larger;
    background-color: #3f54616e;
    width: 65px;
    text-shadow: 0px 0px 8px #ffffff;
}
.contact-section input, .contact-section textarea {
    padding: 5px;
    border: #5c2e5c solid 5px;
}
.contact-section input[type="submit"] {
    background-color: #5c2e5c;
    color: #ffffff;
    border: none;
    width: 100px;
    align-self: center;
    cursor: pointer;
}
.custom-hidden {
    display: none;
}
.custom-visible {
    display: block;
}
.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 1000px;
    border: none;
    background-color: transparent;
}
.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;

}
.feedback div {
    background-color: #ffffff;
    border: #5c2e5c solid 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 900px;
}
.events-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 1000px;
    border: none;
    background-color: transparent;
}
.events-section div {
    background-color: #ffffff;
    border: #5c2e5c solid 10px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 250px;
}
.cart{
    height: 120px;
    width: 120px;
}
.cart img {
    height: 100px;
}
.cart-items {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #00000080;
}
.cart-background {
    overflow: scroll;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    width: 50%;
}
.cart-background h2 {
    margin-top: 0px;
    width: 200px;
}
.exit-cart {
    position: absolute;
    top: 0px;
    right: 3px;
    padding: 5px;
    border: #742c36 solid 5px;
    border-radius: 5px;
    background-color: #3e5641c5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-cart:hover {
    box-shadow: 0px 0px 0px 3px #5c2e5c;
    right: 6px;
}
.cart-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart-menu .h-menue {
    border-color: #5c2e5c;
}
.cart-btns {
    margin: 10px;
}
.cart-return {
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: #ffffff;
    border: #5c2e5c solid 10px;
    border-radius: 5px;
    padding: 5px;
}
.cart-return a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.cart-return:hover {
    background-color: #742c36;
}
.cart-return:hover a {
    color: #ffffff;
}
.footer {
    border-top: #742c36 solid 10px;
    background-color: #3f5461;
    height: 100%;
    width: 100%;
}
.footer-flex-1 {
    display: flex;
    flex-direction: column;
}
.footer-flex-2 {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    gap: 30%;
    width: 50%;
}
.social-media {
   display: flex;
   flex-direction: row;
   gap: 5px;
   margin: 20px;
}
.social-media img {
    height: 30px;
    background-color: #ffffff; 
    padding: 1px;
}
.newsletter {
    background-color: #742c36;
    width : 400px;
    padding: 20px;
    padding-top: 1px;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 0px 0px 9px #ffffff;
}
.newsletter input[type="email"] {
    padding: 5px;
    border: black solid 1px;
    width: 65%;
}
.footer-links {
    text-align: center;
}
.footer-links a {
    text-decoration: none;
    font-size: larger;
    color: #000000;
    padding: 5px;
    text-shadow: 0px 0px 9px #ffffff;
    padding: 0px;
}
.footer-links a:hover {
    text-decoration: underline;
    color: #ffffff;
}
@media only screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    body {
        max-width: 476px;
    }
    .container {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-container {
        width: 100%;
    }
    .hero-image {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px ;
    }
    .header-title {
        top: 20px;
        font-size: medium;
    }
    .hamburger-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 0px;
        width: auto;
        height: auto;
    }
    .menu {
        display: none;
    }
    .logo {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 30px;
        border: #742c36 solid 5px;
        border-radius: 5px;
    }
    h1 {
        font-size: 24px;
    }
    .welcome-section {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0px;
    }
    .hidden {
        display: none;
    }
    .hidden:active {
        display: inline;
    }
    .read-more {
        display: inline;
    }
    .read-less {
        display: none;
    }
    .read-more, .read-less{
        color: #5c2e5c;
        cursor: pointer;
    }
    .books {
        flex-direction: column;
    }
    .footer-flex-1{
        flex-direction: column;
        align-items: center;
    }
    .footer-flex-2 {
        flex-direction: column-reverse;
        gap: 5px;
        width: 100%;
    }
    .newsletter {
        width : 100%;
    }
    .newsletter h3 {
        text-align: center;
    }
    .footer {
        width: 100%;
    }
    .books-section {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    .book-container {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    .book-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .book-grid div label img {
        width: 100%;
        padding: 5px;
    } 
    .search-cart-section {
        width: calc(100% - 20px);
    }
    .search-cart-section form {
        width: 80%;
    }
    .search-cart-section form input {
        width: 90%;
    }
    .cart-background{
        width: 100%;
    }
    .content {
        width: 800px;
    }
    .about-section {
        width: 100%;
    }
    .hours-section {
        width: 100%;
    }
    .contact-section {
        width: 100%;
        box-sizing: border-box;
    }
    .contact-section input, .contact-section textarea {
        width: 100%;
    }
    .feedback-section {
        width: 100%;
    }
    .feedback {
        flex-direction: column;
    }
    .feedback div {
        height: auto;
    }
    .events-section {
        width: 100%;
    }
    .events-section div {
        height: auto;
    }
}